.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 15%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
} 

.modal-content {
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 2px 3px rgb(0 0 0 / 10%);
    box-shadow: 0 2px 3px rgb(0 0 0 / 10%);
    background-clip: padding-box;
    outline: 0;
    padding: 25px;
}

.modal-dialog {
    max-width: 1000px;
    width:50%;
    margin: 30px auto;
}
